#!/usr/bin/make -f

%:
	dh $@

override_dh_fixperms:
	dh_fixperms
	chmod 644 debian/arachni/usr/share/arachni/spec/support/fixtures/*.txt
	chmod 644 debian/arachni/usr/share/arachni/components/reporters/html/default/fonts/fontawesome-webfont.*

override_dh_auto_build:
	bundle config --local path vendor/bundle
	bundle config --local without development:test
	bundle install --force
	bundle config --local frozen true

override_dh_clean:
	rm -rf vendor/bundle
